* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    background: #111;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}


#hero {
    height: 80vh;
    background: linear-gradient(to right, #007BFF, #00C6FF);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation: fadeIn 2s ease-in;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: white;
    color: #007BFF;
    cursor: pointer;
    border-radius: 5px;
}


section {
    padding: 60px 20px;
    text-align: center;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.10);
}
